body {
	background-color: #FFFFF4;
}

/*NAVIGATION TABS*/
.tabs {
	padding-top: 20px;
}

/*ABOUT DIV AND CONTENT*/
.about-div {
	margin: auto;
}

.about-div h3 {
	text-align: center;
}

.text-about {
	padding: 10px;
    text-align: center;
}

.wrap-img {
	display: flex;
	max-height: 250px;
	max-width: 275px;
	margin: auto;
	margin-top: 5%;
}

img {
	min-height: 100%;
	min-width: 100%;
}

.hero {
	background-color: #4D4D66;
}
/*COOKIE DIV AND CONTENT*/
.cookie-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.wrap-cookie-price {
	margin-top: 50px;
}

.holiday-cookies {
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*FOOTER*/
.footer {
	background: linear-gradient(to bottom, #8e9eab, #eef2f3);
}

/*MODAL AND ORDER FORM*/
.modal {
	display: flex;
	justify-content: center;
	min-height: 100vh;
	width: 100vw;
	align-items: center;
	display: flex;
    position: fixed;
    top: 0;
	z-index: 1;
	background-color: rgba(0 ,0, 0, 0.8);

}

.open {
	margin: 25px;
}

.column {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

td {
	margin: 100px;
}


/*HERO*/
.header-title {
	color: white;
}


/*MEDIA QUERY*/
@media screen and (max-width: 992px) {
	.tabs a {
		max-width: 75px;
		font-size: .85rem;
	}

	.section {
		text-align: center;
	}
}

/*HIDDEN CLASS FOR JS*/
.hidden {
	visibility: hidden;
	height: 0;
	overflow: hidden;
}