body {
	background-color: #FFFFF4;
	font-family: 'Raleway', sans-serif;
}

span {
	font-weight: bold;
}

.open {
	box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
}

/*NAVIGATION TABS*/
.tabs {
	padding-top: 20px;
}

/*ABOUT DIV AND CONTENT*/
.about-div {
	margin: auto;
}

.about-div h3 {
	text-align: center;
}

.text-about {
	padding: 10px;
    text-align: center;
}

.wrap-img {
	display: flex;
	max-height: 350px;
	max-width: 275px;
	margin: auto;
	margin-top: 5%;
}

img {
	min-height: 100%;
	min-width: 100%;
}

.hero {
	background-color: #4D4D66;
}

a {
	color: #353547;
}

/*COOKIE DIV AND CONTENT*/
.cookie-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.wrap-cookie-price {
	margin-top: 50px;
}

.holiday-cookies {
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*FORM*/
input,
textarea {
	padding: 25px;
	margin: 2.5px;
}

/*FOOTER*/
.footer {
	background: linear-gradient(to bottom, #7e7e83, #e2e2e2);

}

/*MODAL AND ORDER FORM*/
.modal {
	display: flex;
	justify-content: center;
	min-height: 100vh;
	width: 100vw;
	align-items: center;
	display: flex;
    position: fixed;
    top: 0;
	z-index: 1;
	background-color: rgba(0 ,0, 0, 0.8);

}

.open {
	margin: 25px;
}

.close {
	margin-top: 50px;
}

.column {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

td {
	margin: 100px;
}


/*HERO*/
.header-title {
	color: white;
	font-family: 'Arima Madurai', cursive;
	font-weight: normal;
}

/*HEADER FONTS*/
h3,
h4,
h5{
	font-family: 'Arima Madurai', cursive;
	font-weight: normal;
}


/*MEDIA QUERY*/
@media screen and (max-width: 992px) {
	.tabs a {
		max-width: 75px;
		font-size: .85rem;
	}

	.section {
		text-align: center;
	}
}

/*HIDDEN CLASS FOR JS*/
.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.75s linear;
}

.hidden {
	visibility: hidden;
	opacity: 0;
  	transition: visibility 0s 0.75s, opacity 0.75s linear;
	height: 0;
	overflow: hidden;
}

.tabs.is-boxed li.is-active a {
	color: #6E6E92;
	font-weight: bold;
}