body {
	font-family: 'Raleway', sans-serif;
	background-color: #FFFFF4;
	background-image: url("https://images5.alphacoders.com/427/thumb-1920-427149.jpg");
	background-repeat: no-repeat;
}

.about-div, .cake-div, .cookie-div, .pie-div {
	border: 1px solid gray;
	background-color: white;
	opacity: 0.78;
}

h3 {
	margin-top: 25px;
}

h4 {
	margin-bottom: 25px; 
}

.price {
	font-weight: bold;
}

.open {
	box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
}

/*NAVIGATION TABS*/
.tabs {
	padding-top: 20px;
	background-color: #FFFFF4;
}

/*ABOUT DIV AND CONTENT*/
.about-div {
	margin: auto;
}

.about-div h3 {
	text-align: center;
}

.text-about {
	margin: 30px;
    text-align: center;
}

.hero {
	background-color: #2F2F2F;
}

a {
	color: #353547;
}

/*COOKIE DIV AND CONTENT*/
.cookie-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.wrap-cookie-price {
	margin-top: 50px;
}

.holiday-cookies {
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*PIE SECTION*/
.pie-li {
	display: flex;
	justify-content: space-between;
	margin: 10px;
}

.pie-flavor {
	display: flex;
}

.price {
	display: flex;
	margin-left: 30px;
}

/*FORM*/
input,
textarea {
	padding: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
}

label {
	color: #ffdfe5;
	font-size: large;
}

/*FOOTER*/
.footer {
	background: linear-gradient(to bottom, #2F2F2F, #434343);
}

/*MODAL AND ORDER FORM*/
.modal {
	display: flex;
	justify-content: center;
	min-height: 100vh;
	width: 100vw;
	align-items: center;
	display: flex;
    position: fixed;
    top: 0;
	z-index: 1;
	background-color: rgba(0 ,0, 0, 0.78);

}

.wrap-form {
	background-color: #1f1f1f;
    padding: 50px;
    border: 1px solid #ffdfe5;
}

.open {
	margin: 25px;
}

.close {
	margin-top: 50px;
	background-color: #ffd9df;
	border: 3px solid #ffc0cb;
}

.column {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin: 20px;
}

td {
	margin: 100px;
}


/*HERO*/
.header-title {
	color: white;
	font-family: 'Arima Madurai', cursive;
	font-weight: normal;
}

/*HEADER FONTS*/
h3,
h4,
h5{
	font-family: 'Arima Madurai', cursive;
	font-weight: normal;
	border-bottom: 1px solid #e5acb6;
}


/*MEDIA QUERY*/
@media screen and (max-width: 992px) {
	.tabs a {
		max-width: 85px;
		font-size: 1.25rem;
	}

	.section {
		text-align: center;
	}
}

@media screen and (max-width: 600px) {
	body {
		background-color: #ffccd5;
		background-image: none;
	}

	.wrap-form {
		margin-left: 30px;
		margin-right: 30px;
	}
}

.hidden {
	overflow: hidden;
	visibility: hidden;
	height: 0;
}

.tabs.is-boxed li.is-active a {
	color: #e5acb6;
	font-weight: bold;
}



.fade-in {
   animation-name: fadein;
   animation-duration: 1s;
   animation-fill-mode: forwards;
}

.fade-out {
    animation-name: fadeout;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeout {
  from {
  	visibility: visible;
    opacity: 1;
  }

  to {
  	visibility: hidden;
   	opacity: 0;
  }
}

@keyframes fadein {
  from {
  	visibility: hidden;
  	opacity: 0;
  }

  to {
  	visibility: visible;
    opacity: 1;
  }
}
